.footer-title {
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(97deg, #860A35 4.8%, #DC8686 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2em;
}
.footer-subtitle {
    color: var(--gray-600, #475467);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    width: 100%;
    text-align: center;

}
.input {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px ;
}


.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px ;
}

.footer-input{
    border: 2px solid #860A35;
    border-radius: 15px;
    margin: 10px;
    padding: 2px 10px;
}

.submit{
    margin: 0 auto;
}

.submit-button {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid white;
    background: black;
    color: #fff;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 14px;
}