.page {
    margin: 0;
}
.hero{
    display: flex;
    height: 50%;
}

.hero-header .content-container {
    width: 60%;
    margin: 0 auto;
    /*padding: 2em 0;*/
}
.hero-header .title {
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -2.28px;
    background: linear-gradient(50deg, #860A35 4.8%, #DC8686 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .subtitle {
    color: var(--gray-600, #475467);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 42px */
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}
.content .content-container {

    /*justify-items: center;*/
    width: 60%;
    margin: 0 auto;
    /*padding: 1em 0;*/
    background-color: #F2F4F7;
}

.section {
    /*margin-bottom: 7em;*/
}
.section-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-header .section-title {
    color: #1D2939;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 33.8px */
}
.section-header .section-view-all {
    border-radius: 8px;
    border: 1px solid #E4E7EC;
    background-color: #FFF;
    color: #1D2939;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    padding: 8px 12px;
}

.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    justify-content: center;
    float: left;
    width: 100%;
    margin-bottom: 100px;
}