.post-date {
    color: #667085;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
}

.post-img {
    width: 100%;
    margin: 5em auto;
}

.d-flex {
    margin: 10rem auto;
}

.post-title {
    margin-top: 40px;
}
