

/* Style the search field */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    justify-content: center;
    float: left;
    width: 100%;
    margin-bottom: 100px;

}


/*!* Clear floats *!*/
/*form.search-bar::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/